
<!DOCTYPE html>
<html lang="en" data-textdirection="ltr" class="loaded">
<head>
    <!-- Meta Information -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">






    <title>Pricing | CloudConvert</title>
    <meta name="description" content=">One API to handle them all. The feature-rich and scalable CloudConvert API supports more than 200 formats.">


    <link rel="shortcut icon" href="/images/logo_flat_32.png">
    <link rel="preconnect" href="https://api.cloudconvert.com">

    



<!-- CSS -->
    <link href="/css/app.css?id=f0355e3da082a3efd8cb6c87576778b3" rel="stylesheet">


    <script nonce="EFlCwfBr83CO6nqg">
        window.app = {
            env: 'production',
            url: 'https://cloudconvert.com',
            apiUrl: 'https://api.cloudconvert.com',
            liveUrl: 'https://cloudconvert.com',
            sandboxUrl: 'https://sandbox.cloudconvert.com',
            socketioUrl: 'https://socketio.cloudconvert.com',
            routeName: 'pricing'
        };
    </script>




            <script defer data-domain="cloudconvert.com" src="/js/script.js" nonce="EFlCwfBr83CO6nqg"></script>
        <script nonce="EFlCwfBr83CO6nqg">window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>
    
    

</head>



    <body data-open="click" data-menu="horizontal-menu"
          class="horizontal-layout horizontal-menu menu-expanded fixed-navbar product">


    <div id="app">

        <pricing-page inline-template>

            <div>


                <!-- navbar-fixed-top-->
                <nav class="header-navbar  navbar-expand-md  navbar navbar-with-menu fixed-top navbar-dark  bg-gradient-navbar"
                     style="align-items: baseline; flex-flow: wrap;">
                    <div class="navbar-wrapper container">
                        <div class="navbar-header">
                            <ul class="nav navbar-nav  flex-row">
                                <li class="nav-item mobile-menu d-md-none mr-auto"></li>
                                <li class="nav-item"><a href="/" class="navbar-brand"><img alt="" width="51" height="32" src="/images/logo_flat_110_borderless.png" class="brand-logo hidden-xs-down">
        <h2 class="brand-text">cloud<strong>convert</strong></h2></a></li>                                <li class="nav-item d-md-none"><a data-toggle="collapse" data-target="#navbar-mobile"
                                                                  class="nav-link open-navbar-container"><i
                                                class="fa fa-ellipsis-v"></i></a></li>
                            </ul>
                        </div>
                        <div class="navbar-container content container">
                            <div id="navbar-mobile" class="collapse navbar-collapse">
                                <ul class="nav navbar-nav mr-auto float-left">
                                                                        <li class="dropdown nav-item mega-dropdown tools"><a href="/" data-toggle="dropdown"
                                                     class="nav-link dropdown-toggle">Tools</a>

    <div class="mega-dropdown-menu dropdown-menu bg-gradient-navbar">

        <div class="container">
            <ul class="row w-100">
                <li class="col-lg-6 col-sm-12">
                    <h6 class="dropdown-menu-header text-uppercase"><i class="fa fa-sync-alt"></i> Convert Files</h6>


                    <ul>
                        <li class="menu-list">
                            <ul class="list-2-columns">
                                <li><a class="dropdown-item" href="/archive-converter">Archive Converter</a></li>
                                <li><a class="dropdown-item" href="/audio-converter">Audio Converter</a></li>
                                <li><a class="dropdown-item" href="/cad-converter">CAD Converter</a></li>
                                <li><a class="dropdown-item" href="/document-converter">Document Converter</a></li>
                                <li><a class="dropdown-item" href="/ebook-converter">Ebook Converter</a></li>
                                <li><a class="dropdown-item" href="/font-converter">Font Converter</a></li>
                                <li><a class="dropdown-item" href="/image-converter">Image Converter</a></li>
                                <li><a class="dropdown-item" href="/presentation-converter">Presentation Converter</a>
                                </li>
                                <li><a class="dropdown-item" href="/spreadsheet-converter">Spreadsheet Converter</a>
                                </li>
                                <li><a class="dropdown-item" href="/vector-converter">Vector Converter</a></li>
                                <li><a class="dropdown-item" href="/video-converter">Video Converter</a></li>
                            </ul>
                        </li>
                    </ul>


                </li>

                <li class="col-lg-3 col-sm-12">


                    <h6 class="dropdown-menu-header text-uppercase"><i class="fa fa-compress"></i> Optimize Files</h6>
                    <ul>
                        <li class="menu-list">
                            <ul>
                                <li><a class="dropdown-item" href="/compress-pdf">Compress PDF</a></li>
                                <li><a class="dropdown-item" href="/compress-png">Compress PNG</a></li>
                                <li><a class="dropdown-item" href="/compress-jpg">Compress JPG</a></li>
                            </ul>
                        </li>
                    </ul>


                    <h6 class="dropdown-menu-header text-uppercase"><i class="fa fa-file-archive"></i> Archives</h6>
                    <ul>
                        <li class="menu-list">
                            <ul>
                                <li><a class="dropdown-item" href="/create-zip-archive">Create Archive</a></li>
                                <li><a class="dropdown-item" href="/extract-zip-archive">Extract Archive</a></li>
                            </ul>
                        </li>
                    </ul>

                </li>

                <li class="col-lg-3 col-sm-12">
                    <h6 class="dropdown-menu-header text-uppercase"><i class="fa fa-browser"></i> Capture Websites</h6>
                    <ul>
                        <li class="menu-list">
                            <ul>
                                <li><a class="dropdown-item" href="/save-website-pdf">Save Website as PDF</a></li>
                                <li><a class="dropdown-item" href="/website-png-screenshot">Website PNG Screenshot</a>
                                </li>
                                <li><a class="dropdown-item" href="/website-jpg-screenshot">Website JPG Screenshot</a>
                                </li>
                            </ul>
                        </li>
                    </ul>


                    <h6 class="dropdown-menu-header text-uppercase"><i class="fa fa-compress-alt"></i> Merge Files</h6>
                    <ul>
                        <li class="menu-list">
                            <ul>
                                <li><a class="dropdown-item" href="/merge-pdf">Merge PDF</a></li>
                            </ul>
                        </li>
                    </ul>


                </li>


            </ul>
        </div>
    </div>

</li>


<li class="dropdown nav-item mega-dropdown"><a href="https://cloudconvert.com/api/v2" data-toggle="dropdown"
                                               class="nav-link dropdown-toggle">API</a>


    <div class="mega-dropdown-menu dropdown-menu bg-gradient-navbar">

        <div class="container">
            <ul class="row w-100">

                <li class="col-lg-3 col-sm-12">
                    <h6 class="dropdown-menu-header text-uppercase"><i class="fa fa-sync-alt"></i>Convert Files</h6>

                    <ul>
                        <li class="menu-list">
                            <ul>
                                <li><a class="dropdown-item" href="https://cloudconvert.com/apis/file-conversion">File Conversion
                                        API</a>
                                </li>
                                <li><a class="dropdown-item" href="https://cloudconvert.com/apis/office-to-pdf">Office to PDF
                                        API</a></li>
                                <li><a class="dropdown-item" href="https://cloudconvert.com/apis/iwork-to-pdf">iWork to PDF
                                        API</a></li>
                                <li><a class="dropdown-item" href="https://cloudconvert.com/apis/pdf-to-office">PDF to Office
                                        API</a></li>
                            </ul>
                        </li>
                    </ul>

                </li>


                <li class="col-lg-3 col-sm-12">
                    <h6 class="dropdown-menu-header text-uppercase"><i class="fa fa-browser"></i>Capture Websites</h6>

                    <ul>
                        <li class="menu-list">
                            <ul>
                                <li><a class="dropdown-item" href="https://cloudconvert.com/apis/html-to-pdf">HTML to PDF API</a>
                                </li>
                                <li><a class="dropdown-item" href="https://cloudconvert.com/apis/website-screenshot">Website
                                        Screenshot
                                        API</a></li>
                            </ul>
                        </li>
                    </ul>


                    <h6 class="dropdown-menu-header text-uppercase"><i class="fa fa-compress"></i>Optimize Files</h6>

                    <ul>
                        <li class="menu-list">
                            <ul>
                                <li><a class="dropdown-item" href="https://cloudconvert.com/apis/compress-pdf">Compress PDF
                                        API</a></li>
                                <li><a class="dropdown-item" href="https://cloudconvert.com/apis/compress-images">Compress Images
                                        API</a></li>
                            </ul>
                        </li>
                    </ul>

                </li>


                <li class="col-lg-3 col-sm-12">
                    <h6 class="dropdown-menu-header text-uppercase"><i class="fa fa-cubes"></i>Other APIs</h6>

                    <ul>
                        <li class="menu-list">
                            <ul>
                                <li><a class="dropdown-item" href="https://cloudconvert.com/apis/merge-pdf">Merge PDF API</a></li>
                                <li><a class="dropdown-item" href="https://cloudconvert.com/apis/thumbnails">Thumbnail API</a>
                                </li>
                                <li><a class="dropdown-item" href="https://cloudconvert.com/apis/watermark">Watermark API</a></li>
                            </ul>
                        </li>
                    </ul>


                    <h6 class="dropdown-menu-header text-uppercase"><i class="fa fa-robot"></i>Automate</h6>

                    <ul>
                        <li class="menu-list">
                            <ul>
                                <li><a class="dropdown-item" href="https://cloudconvert.com/integrations">Integrations</a>
                                </li>
                            </ul>
                        </li>
                    </ul>

                </li>


                <li class="col-lg-3 col-sm-12">


                    <h6 class="dropdown-menu-header text-uppercase"><i class="fa fa-book"></i> Documentation</h6>
                    <ul>
                        <li class="menu-list">
                            <ul>
                                <li><a class="dropdown-item" href="https://cloudconvert.com/api/v2">API
                                        Documentation</a></li>
                                <li><a class="dropdown-item" href="https://cloudconvert.com/api/v2/quickstart">Quickstart
                                        Guide</a></li>

                                <li><a class="dropdown-item" href="https://cloudconvert.com/api/v2/jobs/builder">Job Builder</a></li>
                            </ul>
                        </li>
                    </ul>





                </li>


            </ul>

        </div>
    </div>

</li>


<li class="nav-item"><a href="https://cloudconvert.com/pricing" class="nav-link">Pricing</a></li>



                                </ul>
                                <ul class="nav navbar-nav float-right">
                                    <li class="nav-item">
        <a class="nav-link" href="https://cloudconvert.com/register">Sign Up</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="https://cloudconvert.com/login">Login</a>
    </li>




                                </ul>
                            </div>
                        </div>
                    </div>


                </nav>



                <div class="bg-gradient-navbar product-dark-section product-header">

                    <div class="container text-center">


                        <h1>Fair & Flexible Pricing</h1>

                        <p class="mb-2 mt-1 mx-3">
                            You can use CloudConvert absolutely free for up to 25 conversions per day. Beyond that we
                            offer flexible payment
                            options. Use the quantity slider below to customize a package or subscription according to
                            your needs.
                        </p>


                    </div>

                </div>


                <div class="app-content content  center-layout d-none">
                    <div class="content-wrapper container">

                        <h1 class="content-header-title mb-0">Pricing</h1>

                        <p class="font-size-large">
                            You can use CloudConvert absolutely free for up to 25 conversions per day. Beyond that we
                            offer flexible payment
                            options. Use the quantity slider below to customize a package or subscription according to
                            your needs.
                        </p>


                    </div>
                </div>


                <div class="content  center-layout">
                    <div class="content-wrapper container pt-3">







                        <div class="row mb-3">

                            <div class="col-md-2 align-self-end pb-1">
                                <strong class="text-uppercase text-light font-size-large">Quantity:</strong>
                            </div>

                            <div class="col-md-10 col-lg-8 align-self-center">

                                <h2 class="text-primary mb-0 font-large-1 text-center" v-text="selectedMinutes.toLocaleString()"></h2>

                                <p class="mb-0 font-size-large text-center">Conversion Credits</p>

                                <div ref="slider" class="slider-xl  mt-1  mb-2"></div>

                            </div>


                        </div>

                        <div class="row">

                            <div class="col-md-2 pb-1">
                                <strong class="text-uppercase text-light font-size-large">Plan:</strong>
                            </div>

                            <div class="col-md-5 col-lg-4" v-if="minutes >= packageMin" v-cloak>

                                <div class="card">
                                    <div class="card-body" v-if="!packageLoading && packagePrice">
                                        <h4 class="card-title text-left">Package</h4>



                                        <h4 class="text-left">{{ formattedPackagePrice }}
                                        </h4>
                                        <p class="mb-1 text-left" v-if="tax > 0">including {{ tax }}% VAT</p>

                                        <p class="text-muted">= {{ perMinutePackagePrice }} per credit</p>



                                        <a :href="packageUrl" class="btn-lg btn-primary mt-2 btn-block text-center">
                                            <i class="fa fa-shopping-cart mr-1">
                                            </i>
                                            <span>Buy</span>
                                        </a>


                                    </div>

                                    <div class="card-body text-center py-3" v-else>
                                        <i class="fas fa-circle-notch fa-spin fa-2x"></i>
                                    </div>

                                </div>




                                <p class="mt-2 text-left mb-2">
                                    <strong>Packages</strong> are <strong>one-time</strong> payments and your
                                    quota will
                                    <strong>not expire</strong>. You can buy an amount of conversion credits and
                                    use them whenever you like
                                    ("pay as you go").
                                </p>

                            </div>


                            <div class="col-md-5 col-lg-4" v-if="minutes >= subscriptionMin" v-cloak>

                                <div class="card">
                                    <div class="card-body" v-if="!subscriptionLoading && subscriptionPrice">

                                        <h4 class="card-title text-left">Subscription</h4>

                                        <h4 class="text-left">{{ formattedSubscriptionPrice }}
                                            <small>/ month</small>
                                        </h4>
                                        <p class="mb-1 text-left" v-if="tax > 0">including {{ tax }}% VAT</p>


                                        <p class="text-muted">= {{ perMinuteSubscriptionPrice }} per credit</p>




                                        <a :href="subscriptionUrl" class="btn-lg btn-primary mt-2 btn-block text-center">
                                            <i class="fa fa-shopping-cart mr-1">
                                            </i>
                                            <span>Subscribe</span>
                                        </a>


                                    </div>


                                    <div class="card-body text-center py-3" v-else>
                                        <i class="fas fa-circle-notch fa-spin fa-2x"></i>
                                    </div>

                                </div>


                                <p class="mt-2 text-left mb-2">
                                    <strong>Subscriptions</strong> charge you every month for a fixed amount of
                                    conversion credits. Not
                                    used credits <strong>do not roll over</strong> at the end of the month. In exchange
                                    they are up to 50%
                                    cheaper than
                                    packages.
                                </p>



                            </div>


                        </div>


                    </div>
                </div>


                <div class="app-content content  center-layout">
                    <div class="content-wrapper container">


                        <p class="text-center mt-1 font-size-large">All our paid plans come with the following benefits: </p>

                        <div class="row mt-2 mb-3 font-size-large">

                            <div class="col-md-4">

                                <ul class="fa-ul">

                                    <li><span class="fa-li mr-1 text-primary"><i class="fa fa-cubes"></i></span>
                                        All API features
                                    </li>

                                    <li><span class="fa-li mr-1 text-primary"><i class="fa fa-tachometer-fast"></i></span>
                                        All bandwidth included
                                    </li>

                                    <li><span class="fa-li mr-1 text-primary"><i class="fa fa-bolt"></i></span> High
                                        priority processing
                                    </li>


                                </ul>


                            </div>
                            <div class="col-md-4">

                                <ul class="fa-ul">


                                    <li><span class="fa-li mr-1 text-primary"><i class="fa fa-file"></i></span> <span
                                                data-toggle="tooltip"
                                                title="Single file uploads via the webinterface are technically limited to 5GB. Larger uploads are possible via URLs."
                                                data-placement="top">Unlimited*</span>
                                        file size
                                    </li>
                                    <li><span class="fa-li mr-1 text-primary"><i class="fa fa-stopwatch"></i></span>


                                        <span
                                                data-toggle="tooltip"
                                                title="Up to the limits of the remaining conversion credits in your account. Single file conversions are limited to 5 hours."
                                                data-placement="top">Unlimited*</span>
                                        processing time

                                    </li>


                                    <li><span class="fa-li mr-1 text-primary"><i class="fa fa-tasks"></i></span> <span
                                                data-toggle="tooltip"
                                                title="The API enforces dynamic rate limiting. See the API docs for details."
                                                data-placement="top">Unlimited*</span> concurrent
                                        tasks
                                    </li>

                                </ul>

                            </div>
                            <div class="col-md-4">

                                <ul class="fa-ul">
                                    <li><span class="fa-li mr-1 text-primary"><i class="fa fa-wrench"></i></span> 99,9%
                                        Service Level
                                        Agreement
                                    </li>
                                    <li><span class="fa-li mr-1 text-primary"><i class="fa fa-file-contract"></i></span>
                                        Data Processing Agreement
                                    </li>
                                    <li><span class="fa-li mr-1 text-primary"><i class="fa fa-life-ring"></i></span>
                                        Support
                                    </li>
                                </ul>

                            </div>

                        </div>


                        <div class="row mt-1">

                            <div class="col-sm-6">


                                <h3>What are conversion credits?</h3>
                                <p>
                                    The longer a conversion takes, the more resources it consumes and the more expensive
                                    it is. Our packages
                                    and subscriptions do typically consume <strong>one credit per minute of conversion time</strong>.
                                </p>
                                <p>
                                    Depending on the conversion type, every conversion takes <strong>a base amount of
                                        conversion
                                        credits</strong>. By default, conversions consume <strong>at least one
                                        conversion credit</strong> and consume
                                    accordingly more
                                    credits for every additional minute if the conversion takes longer than one minute. We do
                                    offer a few <a href="" @click.prevent="$refs.pricingCreditsModal.show()">premium
                                        conversion types</a> which do consume more resources on our end and therefore do
                                    consume two conversion credits as minimum base. Of course, only successful
                                    conversions are
                                    counted.
                                </p>

                                <div class="card pricing-table">
                                    <div class="card-body">

                                        <table class="w-100">
                                            <tr>
                                                <th scope="col" class="w-75">Conversion Type</th>
                                                <th scope="col" class="text-center">Base Credits</th>
                                            </tr>
                                            <tr>
                                                <td>
                                                    General
                                                </td>
                                                <td class="text-center">
                                                    <strong class="text-primary">1</strong>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Office to PDF
                                                </td>
                                                <td class="text-center">
                                                    <strong class="text-primary">2</strong>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    iWork to PDF
                                                </td>
                                                <td class="text-center">
                                                    <strong class="text-primary">2</strong>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    PDF to Office
                                                </td>
                                                <td class="text-center">
                                                    <strong class="text-primary">4</strong>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td colspan="2">
                                                    <pricing-credits-modal ref="pricingCreditsModal">
                                                        <template v-slot:link="{ show }">
                                                            <a href="" @click.prevent="show()"
                                                               class="btn btn-secondary w-100 mt-1">
                                                                <i class="fa fa-calculator mr-1"></i>
                                                                Calculator
                                                            </a>
                                                        </template>
                                                    </pricing-credits-modal>
                                                </td>
                                            </tr>

                                        </table>

                                    </div>
                                </div>


                                <h3 class="mt-2">Why do I have to pay for a base amount of credits per conversion?</h3>

                                <p>
                                    Ninety-five percent of our conversions take only a few seconds and we are already
                                    taking this into
                                    account. To make costs more predictable, our pricing is based on a mixed calculation
                                    of a minimum
                                    consumed
                                    conversion credits per conversion type and the total conversion time.
                                </p>


                            </div>
                            <div class="col-sm-6">


                                <h3>Can I combine packages and subscriptions?</h3>
                                <p>
                                    Yes! Your credits from your monthly subscription will be consumed first, and then
                                    your package credits
                                    will be consumed.
                                </p>

                                <h3 class="mt-2">How can I make sure my account never runs out of credits?</h3>
                                <p>
                                    An <strong>auto refill</strong> option for packages is available. When you use this
                                    option, your account
                                    will be automatically refilled as soon as it runs out of credits. You can activate
                                    this option in the <a
                                            href="https://cloudconvert.com/settings/billing/plan">billing settings</a>.
                                </p>

                                <h3 class="mt-2">Can I share my package/subscription with multiple accounts?</h3>
                                <p>
                                    Yes, there is Team billing available. Organizations such as companies or schools can
                                    use one central
                                    billing account with unlimited team members. Only
                                    the billing is shared among the accounts and files/conversions remain private.
                                </p>


                                <h3 class="mt-2">When can I cancel/change my subscription?</h3>
                                <p>
                                    You can cancel your subscription at any time. There is no minimum term. You can also
                                    change your
                                    subscription to a different plan at any time, but your remaining conversion credits
                                    will expire.
                                </p>


                                <h3 class="mt-2">Which payment methods are available?</h3>
                                <p>
                                    We accept all major credit cards including Visa, MasterCard, and American Express.

                                </p>


                                <h3 class="mt-2">Further questions?</h3>
                                <p>
                                    Do you need free conversion credits for testing? If you’re a large-volume customer
                                    and would like to
                                    negotiate an individual agreement, feel free to <a
                                            href="/contact">contact us</a>!
                                </p>


                            </div>

                        </div>


                    </div>


                </div>


                <div class="container">

    <footer class="footer mb-0">

        <div>
            <div class="row">

                <div class="col-md align-self-center">

                    <div class="row">

                        <div class="col-6 col-md-auto mr-md-3 mt-1">
                            <h6 class="text-bold-600">Company</h6>
                            <ul class="list-unstyled mb-0">
                                <li><a href="https://cloudconvert.com/about">About Us</a></li>
                                <li><a href="https://cloudconvert.com/security">Security</a></li>
                            </ul>
                        </div>
                        <div class="col-6 col-md-auto mr-md-3 mt-1">
                            <h6 class="text-bold-600">Resources</h6>
                            <ul class="list-unstyled mb-0">
                                <li><a href="https://cloudconvert.com/blog">Blog</a></li>
                                <li>
                                    <a href="https://status.cloudconvert.com" target="_blank" rel="noopener">Status</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-6 col-md-auto mr-md-3 mt-1">
                            <h6 class="text-bold-600">Legal</h6>
                            <ul class="list-unstyled mb-0">
                                <li><a href="https://cloudconvert.com/privacy">Privacy</a></li>
                                <li ><a href="https://cloudconvert.com/terms">Terms</a></li>
                                <li><a href="https://cloudconvert.com/about#imprint">Imprint</a></li>
                            </ul>
                        </div>
                        <div class="col-6 col-md-auto mr-md-3 mt-1">
                            <h6 class="text-bold-600">Contact</h6>
                            <ul class="list-unstyled mb-0">
                                <li><a href="https://cloudconvert.com/contact">Contact Us</a></li>

                            </ul>
                        </div>

                    </div>

                </div>

                <div class="col-md-auto text-center text-md-right mt-2 mt-md-2">


                    <p>
                        © 2024 Lunaweb GmbH <br><span class="text-muted d-none d-lg-inline d-xl-inline d-md-inline mt-1">Made in Munich, Germany  </span>
                    </p>
                </div>

            </div>

        </div>


        <footer-stats
                :initial-files="1814369302"
                :initial-bytes="15562337664900274"
                :diff-files="26"
                :diff-bytes="124712349"
                :interval="5"
        ></footer-stats>

    </footer>

</div>

            </div>


        </pricing-page>

    </div>


    </body>


    
            <script src="/js/app.js?id=0b1b08800f264bc46859c1a43fe1a13c"></script>
    

</body>
</html>




